.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.phpunit.cache
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
auth.json
npm-debug.log
yarn-error.log
